remove{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 40px;
    background-color: white;
}
.grid-container {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 100px 200px 200px 100px;
    gap: 10px;
    border: 10px solid black;
    background-color: black;
}
.box {
    background-color: blue;
    border: 2px solid black;
    display: grid;
    place-items: start;
    padding: 8px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.a {
    grid-column: 1 / 4;
}
.b {
    grid-column: 1;
    grid-row: 2/4;
}
.c {
    grid-column: 2;
    grid-row: 2;
}
.d {
    grid-column: 3;
    grid-row: 2;
}
.e {
    grid-column: 2/4;
    grid-row: 3;
}
.f {
    grid-column: 1/4;
}