.container{
    display: flex;
    background-color: antiquewhite;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 6px;
}
.Header{
    background-color: pink;
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Content{
    background-color: blue;
    padding: 20px;
    width: 90%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.Sidebar{
    background-color: blue;
    padding: 20px;
    width: 90%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.Footer {
    background-color: pink;
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 600px) {
    .main {
        flex-direction: column;
    }
}
.main {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}
